@model ReflectionIT.Mvc.Paging.PagingList<Data.Entities.Category>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "دسته ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="box">
    <h3>@ViewBag.Title</h3>
    <a class="btn btn-success pull-left" asp-action="Create">ثبت جدید</a>
    <nav>
        @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
    </nav>

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="15%">
                    @Html.SortableHeaderFor(model => model.Title)
                </th>

                <th width="15%">
                    @Html.SortableHeaderFor(model => model.CreateAt)
                </th>

                <th width="25%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @item.CreateAt.ToPersianDateString(includeHourMinute: true)
                    </td>


                    <td>

                        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">ویرایش</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>